body {
    text-align: center;
    font-size: 18px;
    color: black;
    font-weight: bolder;
}

span {
    color: black;
    font-size: 16;
}


.copy_right_footer {
    font-size: 19;
    font-weight: 80%;
    bottom: -10px;;
    position: fixed;
    width: 100%;
    text-align: center;
    background-color: rgb(255, 255, 255);
    color: black;
    line-height: 3;
}

canvas {
    border: 5px solid rgb(255, 252, 252);
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgb(1, 1, 1);
    background-color: black;
    text-align: center;

}


.heading {
    color: black;
    width: 100%;
    font-size: 14;
    margin: 12px;
    box-shadow: 5px 5px 5px grey;
    text-align: center;
    position: fixed;
}

h3 {
    font-size: 15;
    font-weight: 80%;
    position: fixed;
    width: 100%;
    text-align: center;
    background-color: black;
    color: white;
    line-height: 3;
margin-top: -10;
}



